body{
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Z3JhZGllbnR8ZW58MHx8MHx8&w=1000&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    background-color: white;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.input-area{
    position: relative;
}

.task-input{
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    width: 80%;
    border: none;
    border: 1px solid blue;
}

.task-input:focus{
    outline: none;
    border-top: none;
    border-bottom: 3px solid blue;
    border-left: none;
    border-right: none;
    transition: 0.5s;
    padding-top: 35px;
}
.task-input + label > span{
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: black;
    font-size: 14px;
    top: 6px;
    left: 10px;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s, font-size 0.2s, color 0.2s ease;
}

.task-input:focus + label > span{
    top: 0px;
    color: blue;
}

.task-area{
    border : 1px solid lightgray;
    margin-top: 1em;
}

.task-tabs{
    display: flex;
    border-bottom: 1px solid lightgray;
    position: relative;
}

.task-tabs div{
    padding: 1em;
}

#under-line{
    background-color: hotpink;
    height: 4px;
    position: absolute;
    width: 50px;
    left: 0px;
    top: 52px;
    transition: 0.5s;
    padding: 0px;
}

.task{
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.task-done{
    text-decoration: line-through;
}

.task-tabs div{
    cursor: pointer;
}